.grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(100, 50px);
  background-color: #272121;
  height: 100vh;
  overflow: hidden;
  padding: 100px;
  /* transform: perspective(1000px) rotateX(35deg); */
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.tooltip {
  position: fixed;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  opacity: 0.9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  display: none;
  transition: all 0.3s ease;
  animation: none !important;
  pointer-events: none;
}

.zoomButtons {
  position: absolute;
  bottom: 150px;
  right: 75px;
  height: 50px;
  width: 50px;
  justify-content: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  transition: 0.5s ease-out;
  font-size: 40px;
}

.zoomButtons:hover {
  background-color: #333;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  transform: perspective(400px) rotateX(10deg);
  opacity: 1;
}
.button-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: space-between;
  width: 100px;
  padding: 20px;
  text-align: center;
  transition: 0.5s ease-out;
}

.check-button,
.cross-button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  transition: 0.5s ease-out;
}

.check-button:hover,
.cross-button:hover {
  color: #007bff;
  background-color: #333;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  transform: perspective(400px) rotateX(10deg);
  opacity: 1;
}
